body {
    font-family: Arial, sans-serif;
    background-color: #eef0f0;
}

.main{
  display: block;
}

.accordion-container {
  display: block;
  margin-left: 33%;
  margin-top: -10px;
  margin-bottom: 70px;
}

.pname {
    flex: 50%;
    padding: 10px;
    font-size: 15px;
    margin-left: 50px;
    color: #34563b;
}
.doanvan .step {
    font-weight: bold;
    margin-top: 20px;
    color: #598b63;
}

.container2 .step {
    font-weight: bold;
    margin-top: 20px;
    color: #598b63;
}


/* ---<Breadcrumb Style>--- */
.breadcrumb-container {
    padding-left: 5rem;
  }
  
  ul.breadcrumb {
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 2vh 19vh;
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 15px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #44694d;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }