/* ---<Main Fonts Style, change it if you want>--- */
h1, h6, li, p, label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url("https://www.texasmonthly.com/wp-content/uploads/2018/01/whatley-2-2000x0-c-default.jpg")
}

#renew-book-code, #return-book-code{
    font-size: 20px;
}

#page-title{
    width: 50%;
    padding: 15px;
    margin:auto;

    font-size: 40px;
    text-align:center;

    color: white;
    background-color:#8ac28f; /*dark green*/
    border: 3px solid black;
}

.form-renew-book, .form-return-book{
    width: 50%;
    padding: 15px;
    margin:auto;

    font-size: 20px;

    background-color:#d1e9d0; /* light green*/
    border: 3px solid black;
}

.form-buttons{
    text-align: center;
    margin-top: 20px;
}

#button-back, #button-submit{
    margin-right:20px;
    margin-left:20px;
    width: 15%;
    height: 40px;
    font-size: 20px;
}