/* IMPORTANT NOTE:
    HEX code for lighter green: #cfe9d1
    HEX code for darker green: #83c291
    HEX code for content background color: #f2f2f2
*/

body {
    background-color: #eef0f0;
  }
  
  h1{
    color: #4b6c52;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .1px;
    font-size: 3em;
    line-height: 1.1;
  } 
  
  h6, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  /* ---<Breadcrumb Style>--- */
  .breadcrumb-container {
    padding-left: 5rem;
  }
  
  ul.breadcrumb {
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 2vh 19vh;
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 15px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #44694d;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  
  
  /* ---<Accordion Style>--- */
  .accordion-container {
    display: block;
    width: 25%;
    margin-left: 40%;
    margin-bottom: 300px;
  }
  
  .accordion {
    display: block;
    background-color: #cfe9d1;
    color: #444;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 50px;
    margin-bottom: 10px;
    width: 200%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  
  .active,
  .accordion:hover {
    background-color: #83c291;
    color: white;
  }
  
  .accordion:after {
    content: '\25BA';
    color: #444;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\25BC";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    width: 200%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  table {
    width: 100%;
    text-align: center;
  }
  
  /* Additional Styling for Borrowed History Table */
  table th,
  table td {
    padding: 10px;
  }
  
  table th {
    background-color: #83c291;
    color: white;
  }
  
  table tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
  }
  
  
  /* ---<Footer Style>--- */
  .footer .footers {
    background-color: #83c291;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }